@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

body{
    height: 100%;
    background-image: linear-gradient(to left top, #051937, #214e62, #5e8587, #a8bdb2, #f4f7ec);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
nav button{
    border: none;
    font-size: 18px;
    background-color: #051937;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav button:hover{
    background-color: #051937b5;
}
.navLink{
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;
    margin-top: 10px;
    margin-left: 200px;
}
ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;   
    color: #051937;
}

ul li a:hover{
    color: #214e62;
}


ul li a:focus{
    color: #5e8587;
}



.hero{
    background-color: white;
    width: 40%;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 50px;
}

input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #5e8587;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}
input:focus{
    outline: 1px solid #214e62;
}

textarea{
    height: 100px;
}
h4{
    color: #051937;
    text-shadow: 3px 1px #5e8587;
}

label{
    font-size: 20px;
    color: #214e62;
}

button{
    border: none;
    background-color: #051937;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}


input::placeholder{
    color: #5e8587;
    font-size: 14px;
    opacity: 0.7;
}

.hero h1{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #214e62;
    font-weight: bolder
       
}

footer{
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #051937;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
    margin-top: 20px;
}


@media (max-width: 992px) {
    ul{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
    nav{
        align-items: flex-start;
    }
    nav button{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }    
}


@media (max-width : 600px){
    .hero{
        width: 95%;
        margin-top: 20px;
        padding: 10px;
    }
    
    input{
        width: 100%;
    }
    .hero button{
        padding:5px 14px 5px 14px;
    }
    footer{
        flex-direction: column;
    }
}